nav {
    background: #74ebd5; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.book-images {
    width: 200px;
    height: 150px;
}

.book-title {
    font-family: 'Rajdhani', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

p {
    font-family: 'Sulphur Point', sans-serif;
}

#logo {
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
}